<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='../bower_components/materialize/dist/css/materialize.min.css' type='text/css'>
    <link rel='stylesheet' href='../bower_components/mdi/css/materialdesignicons.min.css' type='text/css'>
    <link rel='stylesheet' href='../dist/minified.css' type='text/css'/>
    <script src='../bower_components/jquery/dist/jquery.min.js'></script>
    <script src='../bower_components/materialize/dist/js/materialize.min.js'></script>
    <script src='../js/ajaxRendering.js'></script>
    <title>Federal Finder</title>
</head>

<body>
<nav>
    <div class="nav-wrapper">
      <a href="/" style="padding-left: 0.5em" class="brand-logo left"> Congress Stalker</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/bills"><i class="material-icons left">library_books</i>Browse Bills</a></li>
        <li><a href="/legislators"><i class="material-icons left">perm_identity</i>Browse Legislators</a></li>
        <li><a href="/rl"><i class="material-icons left">input</i>Register/Login</a></li>
      </ul>
    </div>
  </nav>
</body>

</html>