<% include header.ejs %>
<div class="container">
  <h1>Congress Stalker</h1>
  <h4>Do you know what <u>your</u> legislators are doing?</h4>
  <div class="row">
    <form role="form" type = "submit" action = "/searchLegislator" method = "GET" class="col s12">
      <div class="row">
        <div id="searchBar" class="input-field col s6">
          <input name="zip" id="zip" type="tel" class="validate">
          <label for="search">Search For Your Zipcode</label>
          <button type="submit" class="waves-effect waves-light btn left">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
