<% include header.ejs %>

Legislators:
<% for(var i=0; i<legislators.length; i++) { %>
  <p><%= legislators[i].first_name %></p>
<% } %>

Bills:
<% for(var j=0; j<bills.length; j++) { %>
  <p><%= bills[j].date %> </p>
<% } %>